<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <!-- Has to be in this order: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://kit.fontawesome.com/f06fa8d27a.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <title>Amazon Price Tracker</title>
</head>

<body>
    <!-- to not showing search bar after user entered unavailable product -->
    {% if product_info != False %}
    <div class="container" id="search-bar">
        <!-- <div class="m-5 pb-5 jumbotron"> -->
        <div class="row align-items-center mx-auto mt-5 mb-5">
            <div class="col align-self-start">
                <form action="{{ url_for('index') }}" method="post">
                    <div class="form-row">
                        <div class="form-group col-xs-12 col-sm-6 col-md-8">
                            <input type="text" class="form-control form-control-lg" placeholder="Amazon product URL or product ID" name="inputProduct" style="text-align: center;">
                        </div>
                        <div class="form-group col-xs-6 col-md-4 text-center"><button type="submit" class="btn btn-outline-primary btn-lg">Search</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    {% if product_info %}
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-xs-6 col-md-4 my-auto ml-3"> -->
            <div class="col-xs-6 col-md-4">
                <div class="container mx-auto">
                    <h1 style="text-align: center;">PRODUCT INFO</h1>
                    <p><b>Name</b>: {{product_info["name"]}}</p>
                    <p><b>Category</b>: {{product_info["cat1"]}} - {{product_info["cat2"]}}</p>
                    <p style="display:inline;"><b>Rating</b>: <p id="p-product-info-rating" style="display:inline;"></p> ({{product_info["rating"]}}/5.0)</p>
                    <p><b>#Votes</b>: {{product_info["nVotes"]}}</p>
                    <p><b>Availability</b>: {{product_info['availability']}}</p>
                    <p style="display:inline;"><b>Price</b>: $<p id="latest-price" style="display:inline;"></p></p>
                    <a href="{{ product_info['url'] }}">Link to Amazon website</a>
                    <br/><br/>
                    <form action="{{ url_for('add_email_alert') }}" method="post" class="form-row">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Your Email" name="userEmail">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-primary">Subscribe</button>
                        </div>
                    </form>
                    <br/><br/>
                </div>
                <!-- <img src="{{ product_info['imageURL'] }}" alt="{{ product_info['imageURL'] }}" height="450"> -->
                <!-- <div class="container w-50 p-3"> -->
                <div class="container mx-auto d-block w-50">
                    <img src="{{ product_info['imageURL'] }}" class="img-fluid" alt="{{ product_info['imageURL'] }}">
                </div>
                <br/><br/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <h1 style="text-align: center;">PRICE GRAPH</h1>
                <br/><br/>
                <div id="price_graph" style="text-align: center;"></div>
                <!-- <canvas id="price_graph" aria-label="Price Graph" width="400" height="100"></canvas> -->
            </div>
        </div>
    </div>
    {% elif product_info==False %}
    <div class="container">
        <div class="m-5 pb-5">
            <h1 style="text-align: center;">Sorry, we cannot find your product</h1>
            <h2 style="text-align: center;">Do you want to keep track of this product?</h2>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm"><button type="button" class="btn btn-outline-success btn-lg btn-block" id="yes-btn">Yes</button></div>
            <div class="col-sm"><button type="button" class="btn btn-outline-danger btn-lg btn-block" id="no-btn">No</button></div>
            <div class="col-sm"></div>
        </div>
        <div class="m-5 pb-5">
            <div id="div_not_found_product">
                <h2 style="text-align: center;">Please copy the full URL of the product:</h2>
                <br/>
                <form action="{{ url_for('add_new_product_from_user') }}" method="post">
                    <div class="form-row">
                        <div class="form-group col-12 col-md-8">
                            <input type="text" class="form-control" placeholder="Full Product URL" name="add_product_url">
                        </div>
                        <div class="form-group col-6 col-md-4 text-center"><button type="submit" class="btn btn-outline-primary">Submit URL</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

</body>

<script>
// REFERENCE: https://www.d3-graph-gallery.com/index.html

$(document).ready(function() {
    $("#no-btn").click(function() {
        window.location.href = "{{ url_for('index') }}";
    });

    $("#yes-btn").click(function() {
        $("#div_not_found_product").css({'display': 'inline'});
    });

    // Adding STARs to ratings
    var product_info = JSON.parse('{{ product_info | tojson | safe }}');
    var product_info_rating = product_info["rating"];
    for (var i=1; i<6; i++) {
        if (i <= product_info_rating) {
            var solid_star = "<i class='fas fa-star' style='color: #e2e835;'></i>";
            $("#p-product-info-rating").append(solid_star);
        } else {
            var reg_star = "<i class='far fa-star' style='color: #e2e835;'></i>";
            $("#p-product-info-rating").append(reg_star);
        }
    }

    // =======================================================================
    // ============================= PRICE GRAPH =============================
    // =======================================================================
    /*
    // ******************************* CHART JS ******************************
    // parse the date / time
    var parseTime = d3.timeParse("%d/%m/%Y %H:%M:%S");

    var price_info_obj = JSON.parse('{{ price_info | tojson | safe }}');
    price_info_obj['datetime'].forEach(function(d, idx) {
        this[idx] = parseTime(d);       // "this" refers to price_info_obj['datetime'] array itself
    }, price_info_obj['datetime']);

    // Create data --- has to be in this form
    // var data = [ {x:10, y:20}, {x:40, y:90}, {x:80, y:50} ]
    var data = [];
    for (const [idx,val] of price_info_obj.datetime.entries()) {
        data.push({"datetime": val});
    }
    for (const [idx,val] of price_info_obj.price.entries()) {
        data[idx]['price'] = val;
    }

    var ctx = document.getElementById("price_graph").getContext('2d');
    var price_graph_chart = new Chart(ctx, {
        type: 'line',
        data: data
    });
    */

    // ******************************* D3 JS ******************************
    // parse the date / time
    var parseTime = d3.timeParse("%d/%m/%Y %H:%M:%S");

    var price_info_obj = JSON.parse('{{ price_info | tojson | safe }}');
    price_info_obj['datetime'].forEach(function(d, idx) {
        this[idx] = parseTime(d);       // "this" refers to price_info_obj['datetime'] array itself
    }, price_info_obj['datetime']);

    // Create data --- has to be in this form
    // var data = [ {x:10, y:20}, {x:40, y:90}, {x:80, y:50} ]
    var data = [];
    for (const [idx,val] of price_info_obj.datetime.entries()) {
        data.push({"datetime": val});
    }
    for (const [idx,val] of price_info_obj.price.entries()) {
        data[idx]['price'] = val;
    }
    
    // Set latest-price
    document.getElementById("latest-price").innerHTML = data[data.length-1]['price'];

    // ---------------------------------------------------------------------------------
    // set the dimensions and margins of the graph
    var margin = {top: 20, right: 20, bottom: 100, left: 60},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    // Ref: https://stackoverflow.com/questions/38580538/responsive-inline-svg-using-bootstrap
    var svg = d3.select("#price_graph")
        .append("svg")
            .attr("width", "100%")
            .attr("height", "100%")
            .attr("viewBox", "0 0 960 500")
            .attr("preserveAspectRatio", "xMidYMid meet")
        // translate this svg element to leave some margin
        .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // ---------------------------------------------------------------------------------
    // X scale
    var x = d3.scaleTime().range([0, width]);             // this is corresponding value in pixel
    x.domain(d3.extent(data, function(d) { return d.datetime; }));
    // Append X Axis
    var xAxis = svg.append('g')
                .attr("class", "axis")
                .attr("transform", "translate(0,"+height+")")
                .call(d3.axisBottom(x).tickFormat(d3.timeFormat("%Y-%m-%d")))
                // .selectAll("text")
                //     .style("font-size", "15px")
                //     .style("text-anchor", "end")
                //     .attr("dx", "-.8em")
                //     .attr("dy", ".15em")
                //     .attr("transform", "rotate(-65)");

    // Y scale
    var y = d3.scaleLinear().range([height, 0]);            // this is corresponding value in pixel
    y.domain([0, d3.max(data, function(d) { return d.price; }) + 10]);
    // Append Y Axis
    var yAxis = svg.append('g')
                .attr("class", "axis")
                .call(d3.axisLeft(y));

    // ---------------------------------------------------------------------------------
    // Add a clipPath: everything out of this area won't be drawn.
    var clip = svg.append("defs").append("svg:clipPath")
        .attr("id", "clip")
        .append("svg:rect")
        .attr("width", width )
        .attr("height", height )
        .attr("x", 0)
        .attr("y", 0);
    
    var line_brush = svg.append("g").attr("clip-path", "url(#clip)")

    // ---------------------------------------------------------------------------------
    // Add brushing
    var brush = d3.brushX()                    // Add the brush feature using the d3.brush function
        .extent( [ [0,0], [width, height] ] )  // initialise the brush area: start at 0,0 and finishes at width,height: it means I select the whole graph area
        .on("end", updateChart)                // Each time the brush selection changes, trigger the 'updateChart' function

    // ---------------------------------------------------------------------------------
    var line = d3.line()
        .x(function(d) { return x(d.datetime); })
        .y(function(d) { return y(d.price); });

    line_brush.append("path")
            .datum(data)
            .attr("class", "line")
            .attr("stroke", "steelblue")
            .attr("stroke-width", 3)
            .attr("d", line);

    line_brush.append("g")
            .selectAll("circle")
            .data(data)
            .enter()
            .append("circle")
                .attr("cx", function (d) {return x(d.datetime);})
                .attr("cy", function(d) {return y(d.price);})
                .attr("r", 8)
                .style("fill", "steelblue")

    line_brush.append("g").attr("class", "brush").call(brush);

    // ---------------------------------------------------------------------------------
    // A function that set idleTimeOut to null
    var idleTimeout;
    function idled() { idleTimeout = null; }

    // A function that update the chart for given boundaries
    function updateChart() {
        // What are the selected boundaries?
        extent = d3.event.selection;        // brush coordinates

        // If no selection, back to initial coordinate. Otherwise, update X axis domain
        if(!extent) {
            if (!idleTimeout) return idleTimeout = setTimeout(idled, 350); // This allows to wait a little bit
            x.domain([4,8]);
        } else {
            x.domain([ x.invert(extent[0]), x.invert(extent[1]) ]);
            line_brush.select(".brush").call(brush.move, null);            // This remove the grey brush area as soon as the selection has been done
        }

        // Update axis
        xAxis.transition().duration(1000).call(d3.axisBottom(x));
        // Update line position
        line_brush.select('.line')
            .transition()
            .duration(1000)
            .attr("d", line);

        // Update circle position
        line_brush.selectAll("circle")
            .transition()
            .duration(1000)
            .attr("cx", function(d) { return x(d.datetime); })
            .attr("cy", function(d) { return y(d.price); })
    }

    // ---------------------------------------------------------------------------------
    // If user double click, reinitialize the chart
    svg.on("dblclick", function() {
        x.domain(d3.extent(data, function(d) { return d.datetime; }));
        xAxis.transition().call(d3.axisBottom(x).tickFormat(d3.timeFormat("%Y-%m-%d")));
        
        // Reset line
        line_brush.select('.line')
            .transition()
            .attr("d", line);

        // Reset scattered circles
        line_brush.selectAll("circle")
            .transition()
            .attr("cx", function (d) {return x(d.datetime);})
            .attr("cy", function(d) {return y(d.price);});
    });
    // =======================================================================
    // =======================================================================
    // =======================================================================
});
</script>

</html>